<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="style/icon.png"/>
    <title>Image Atheneum</title>
    <link type="text/css"  rel="stylesheet" href="style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        
        
        async function createImages() {
            var search = document.getElementById("searchBar").value
            if (search != "" || search != " "){
            try {
                $(".topsection").addClass("up");
                $(".bg").addClass("up");
                console.log("Grabbing images...")
                document.getElementById('NewImages').innerHTML = "<h1>Grabbing images...</h1> <div class='loader4'><span></span><span></span><span></span><span></span></div>"
                engine = document.getElementById("engine").value
                filter = document.getElementById("imgtype").value
                amount = document.getElementById("amount").value
                
                $.ajax({
                    url: '/ ',
                    type: 'POST',
                    data: {
                        engine: engine,
                        amount: amount,
                        search: search,
                        filter:filter,
                    },
                    success: function (response) {
                        var images = JSON.parse(response)
                        document.getElementById('NewImages').innerHTML =""
                        for (var image of images) {
                            if (image.includes("data:image/gif") == false){
                            var img = document.createElement('img');
                            img.src = image;
                            img.innerHTML = "<center><div class='img-text'>Go To Website<br>Download Full Image</div></center>";
                            // img.height = 200
                            document.getElementById('NewImages').appendChild(img);
                            }
                        }
                        var more = document.createElement('button');
                        more.setAttribute("id", "loadcontent");
                        document.getElementById('NewImages').appendChild(more)
                        var more =document.getElementById('loadcontent')
                        more.outerHTML = '<br id="del"><br id="del"><center id="del"><button id="loadcontent" onclick="infiscroll()">Show me more</button></center><br id="del"><br id="del">'
                       
                        
                    },
                    error: function (response) {
                        document.getElementById('NewImages').innerHTML = "<h1>An error occurred while trying to fetch: <br>'"+response+"'</h1>"
                    }
                });

                
        
            } catch(error) {
                document.getElementById('NewImages').innerHTML = "<h1>Grabbing images...</h1> <div class='loader4'><span></span><span></span><span></span><span></span></div>"
                console.log("we trying")
                
            }
            }
        }
        
        async function infiscroll() {
            try {
                document.getElementById('del').remove()
                document.getElementById('del').remove()
                document.getElementById('del').remove()
                document.getElementById('del').remove()
                document.getElementById('del').remove()
                console.log("Grabbing images...")
                engine = document.getElementById("engine").value
                filter = document.getElementById("imgtype").value
                amount = document.getElementById("amount").value
                search = document.getElementById("searchBar").value
                $.ajax({
                    url: '/ ',
                    type: 'POST',
                    data: {
                        engine: engine,
                        amount: amount,
                        search: search,
                        filter:filter,
                    },
                    success: function (response) {
                        var images = JSON.parse(response)
                        for (var image of images) {
                            if (image.includes("data:image/gif") == false){
                            var img = document.createElement('img');
                            img.src = image;
                            img.innerHTML = "<center><div class='img-text'>Go To Website<br>Download Full Image</div></center>";
                            // img.height = 200
                            document.getElementById('NewImages').appendChild(img);
                            }
                        }
                        var more = document.createElement('button');
                        more.setAttribute("id", "loadcontent");
                        document.getElementById('NewImages').appendChild(more)
                        var more =document.getElementById('loadcontent')
                        more.outerHTML = '<br id="del"><br id="del"><center id="del"><button id="loadcontent" onclick="infiscroll()">Show me more</button></center><br id="del"><br id="del">'
                       
                    },
                    error: function (response) {
                        document.getElementById('NewImages').innerHTML = "<h1>An error occurred while trying to fetch: <br>'"+response+"'</h1>"
                    }
                });

                
        
            } catch(error) {
               
                console.log("we trying")
                
            }



        }

        
    </script>
</head>
<body style="text-align: center; font-family: 'Bungee Spice', cursive;">

<div class="bg" style="background-image: url('https://picsum.photos/1920/1080.jpg')"></div>

    
<section class="topsection" >

    
    <div id="ts"></div>

<input id="searchBar"  placeholder="What would you like to see?"><button id="searchbutton" onclick="createImages() " ><img src="style/icon.png" width="100%"></button></input>


<br><br>
<center><nav role="navigation" id="nav">
    <div id="menuToggle" >
        
      <input type="checkbox" />
    
      <span style="mix-blend-mode: difference"></span>
      <span style="mix-blend-mode: difference"></span>
      <span style="mix-blend-mode: difference"></span>
    
    <ul id="menu" >
        <div style="margin-left: -40px;">
        <br><br>
        <p>Filters</p>
        <select id="engine">
            <option value="google">Search Engine</option>
            <option value="mix">Mix</option>
            <option value="google">Google</option>
            <option value="bing">Bing</option>
            <option value="duckduckgo">DuckDuckGo</option>
            <option value="yahoo">Yahoo!</option>
        </select>
        <br><br>
        <select id="imgtype">
            <option value="df">Image Type</option>
            <option value="df">Default</option>
            <option value="tb">Transparent Background</option>
            <option value="wl">Wallpaper</option>
            <option value="mwl">Mobile Wallpaper</option>
        </select>
        <input type="number" value="60" id="amount" min="1" max="100">
    </div>
      </ul>
    </div>
  </nav></center>
  <p></p>

</section>
<section id="main-sec">
<div id="NewImages" style="z-index: 20;width:auto;height:auto;">
    
    <!-- <a href="https://i.ytimg.com/vi/O-xJs-fNCyI/maxresdefault.jpg"><img src="https://i.ytimg.com/vi/O-xJs-fNCyI/maxresdefault.jpg" height="200"></a> -->
</div>
</section>
<script>
    $("#searchBar").on('keyup', function (event) {

if (event.keyCode === 13) {
    search = document.getElementById("searchBar").value

    if (search != "" || search != " "){
        createImages()
    }
}
});
</script>

</body>
</html>